.ori__index {
}

.sidebar {
    padding: 20px 0;
}

.sidebar__avatar {
    width: 60px;
    height: 60px;

    img {
        border-radius: 50%;
    }
}

.sidebar__name {
    font-weight: bold;
    color: var(--black);
}

.sidebar__profile {
    font-size: 0.9rem;
    color: var(--black);
}

.sidebar__items {

}

.sidebar__item {
    color: var(--black);
    cursor: pointer;
    padding-top: 3px;

    &:hover {
        .sidebar__content {
            color: var(--primary-dark);
        }
    }

}

.sidebar__icon {
    font-size: 1.5rem;
    text-align: center;
    width: 40px;
    color: var(--primary-dark);
}

.sidebar__content {
    color: var(--black);
}

.sidebar__content_active {
    color: var(--primary-dark);
}

.ori__search {
    background-color: var(--primary-light);
}

.ori__search_icon {
    width: 50px;
    text-align: center;
}

.ori__search_field {
    padding: 8px;
    border: none;
    background-color: transparent;
    flex-grow: 1;
}

.ori__detail {
    background-color: var(--white);
    padding: 20px;
}

.ori__detail_order {
    text-align: end;
}

.ori__detail_shop {
    font-weight: bold;  
    padding: 10px;
    font-size: 1.3rem;
    color: var(--black);
}
.ori__detail_item {
    padding: 20px 0px;
    margin: 10px 0;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
}
.ori__detail_item_image {
    width: 80px;
    margin-right: 10px;
}
.ori__detail_item_infor {
    flex-grow: 1;
}
.ori__detail_item_infor_name {
    font-weight: bold;
}
.ori__detail_item_infor_size,
.ori__detail_item_infor_quantity {
    color: var(--light-gray);
}
.ori__detail_item_infor_quantity {

}

.ori__detail_item_price {
    color: var(--red);

    span {
        text-decoration: line-through;
        color: var(--light-gray);
        margin: 0 7px;
    }
}


.voucher__container {
    background-color: var(--white);
    color: var(--black);
    padding: 20px 35px 30px;
}
.voucher__title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.voucher__field {

}

.voucher {
    height: 150px;
    margin: 10px 0;
}

.voucher__left_0,
.voucher__left_1,
.voucher__right {
    height: 150px;
    width: 100%;
}

.voucher__left_0 {
    background-color: var(--red);
    color: #fff;
}

.voucher__left_1 {
    background-color: var(--green-dark);
    color: #fff;
}

.voucher__right {
    padding: 10px;
    background: var(--beige-light);
}

.voucher__name {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 2px 0;
}

.voucher__content {
    font-size: 0.9rem;
}

.voucher__btn {
    padding: 2px 10px;
    border: none;
    color: #fff;
    margin-right: 10px;
}

.voucher__btn_danger {
    background: var(--red);
}

.voucher__btn_success {
    background: var(--green-dark);
}