<div id="<%= dom_id transport %>">
  <p>
    <strong>Order information:</strong>
    <%= transport.order_information_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= transport.content %>
  </p>

</div>
