<p style="color: green"><%= notice %></p>

<h1>Suggests</h1>

<div id="suggests">
  <% @suggests.each do |suggest| %>
    <%= render suggest %>
    <p>
      <%= link_to "Show this suggest", suggest %>
    </p>
  <% end %>
</div>

<%= link_to "New suggest", new_suggest_path %>
