<% unless current_user?(@shop.user) %>
    <div id="follow_form">
        <% if current_user.following?(@shop.user) %>
            <%= render 'unfollow' %>
        <% else %>
            <%= render 'follow' %>
        <% end %>
    </div>
<% end %>