<div class="shop-index">
  <div class="row">
    <% @shops.each do |shop| %>
    <div class="col-lg-2 col-md-3">
      <div class="card" style="width: 18rem;">
        <%= image_tag 'logo.jpg', class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">
            <%= shop.name %>
          </h5>
          <p class="card-text">
            <%= shop.description %>
          </p>
          <%= link_to "View", shop_path(shop), class: "btn btn-primary" %>  
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>