.shop__image {
    width: 200px;
    margin: 10px 50px;
    img {
        border-radius: 10px;
    }
}

.shop__name {
    font-size: 2rem;
    font-weight: bold;
    color: var(--red);
    padding: 1rem 2rem 1rem 0;
}

.overview__item {
    padding-bottom: 1rem;

    span {
        color: var(--red);
    }
}