.customer_orders_item {
    padding: 10px 0;
}

.customer_orders_shop {
    font-weight: bold;
    padding-bottom: 1rem;
}

.customer_orders_product {

}

.customer_orders_product_name {

}

.customer_orders_product_price {

}

.customer_orders_product_size {

}

.customer_orders_product_quantity {

}
