<%= form_with(model: review_suggest) do |form| %>
  <% if review_suggest.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review_suggest.errors.count, "error") %> prohibited this review_suggest from being saved:</h2>

      <ul>
        <% review_suggest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
