<h1>Editing review suggest</h1>

<%= render "form", review_suggest: @review_suggest %>

<br>

<div>
  <%= link_to "Show this review suggest", @review_suggest %> |
  <%= link_to "Back to review suggests", review_suggests_path %>
</div>
