<h1>Editing product size</h1>

<%= render "form", product_size: @product_size %>

<br>

<div>
  <%= link_to "Show this product size", @product_size %> |
  <%= link_to "Back to product sizes", product_sizes_path %>
</div>
