<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 pb-2">
        <div class="footer__brand">PolkaDots</div>
        <div class="footer__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
        <div class="footer__contact d-flex">
          <a href="#" class="footer__icon">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a href="#" class="footer__icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="#" class="footer__icon">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a href="#" class="footer__icon">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer__title pb-2">
          CUSTOMER SERVICES
        </div>
        <div class="footer__items">
          <div class="footer__item">
            Help Center
          </div>
          <div class="footer__item">
            How To Buy
          </div>
          <div class="footer__item">
            How To sell
          </div>
          <div class="footer__item">
            Payment Methods
          </div>
          <div class="footer__item">
            Shipping and Returns
          </div>
          <div class="footer__item">
            Return Policies
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer__title pb-2">
          ABOUT US
        </div>
        <div class="footer__items">
          <div class="footer__item">
            PolkaDots Overview
          </div>
          <div class="footer__item">
            Privacy Policy
          </div>
          <div class="footer__item">
            Flash Sales
          </div>
          <div class="footer__item">
            Terms & Conditions
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bottom__footer">
  <div class="container">
    <div class="d-flex justify-content-center align-item-center">
      <div class="bf__item">
        CHÍNH SÁCH BẢO MẬT
      </div>
      <div class="bf__item">
        QUY CHẾ HOẠT ĐỘNG
      </div>
      <div class="bf__item">
        CHÍNH SÁCH VẬN CHUYỂN
      </div>
      <div class="bf__item">
        CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN
      </div>
    </div>
    <div class="text-center">
      <div class="bf__title_icon">
        <i class="fa-solid fa-face-smile"></i>
      </div>
      <div class="bf__title">
        Công ty TNHH PolkaDots
      </div>
      <div class="bf__item">
        Address: Kí túc xá Khu A - Đại Học Quốc Gia TP.HCM, Khu phố 6, phường Linh Trung, thành phố Thủ Đức.
      </div>
      <div class="bf__item">
        Contact center: 19002412 - Email: admin@polkadots.com - Phone: 0923 123 123
      </div>
      <div class="bf__item">
          <i class="fa-solid fa-copyright"></i> 2022 - Bản quyền thuộc về PolkaDots
      </div>
    </div>
  </div>
</div>