.col_10 {
    flex: 0 0 auto;
    width: 10%;
    background-color: black;
}

.col_40 {
    flex: 0 0 auto;
    width: 40%;
}

.col_50 {
    flex: 0 0 auto;
    width: 50%;
}

.site-item {
    margin-top: 20px;
    padding: 50px 100px 100px;
}

.item__inner {

}

.image_small {
    padding: 5px;
}

.image__small {
    // opacity: 0.7;

}

.image__active {
    opacity: 1 !important;
}

.image__large {
    display: none;
}

.image-large__active {
    display: block;
}


/*  */
.item-inner {
    padding: 0 50px;
}

// .item__price,
// .item__number,
// .item__quantity {
//     font-size: 1rem;
//     font-weight: bold;
//     padding: 10px 0;
// }

.item__status {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px;
}

.item__number {

}

.item__color,
.item__size {
    font-weight: bold;
    padding: 5px 0;
}

.item__size {

}

.btn_quantity,
.btn_quantity_1,
.btn_quantity_2,
.btn_quantity_3 {
    height: 45px;
    width: 45px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    color: #2A3132;
    font-size: 18px;
    margin-right: 5px;
}