<div id="" class="d-flex setting">
    <div class="col_ col_20 setting__menu">
        <div class="setting__title">
            Cài đặt
        </div>
        <ul class="setting__container">
            <%= form_with(model: @user, local: true) do |f| %>
            <li>
                <%= link_to '<i class="fa-solid fa-circle-user setting__icon"></i> Lý Thanh Hùng'.html_safe, edit_user_path(current_user), class: "dropdown-item" %>
            </li>
            <li>
                <%= link_to avaUs_path, class: "dropdown-item" do %>
                    <i class="fa-solid fa-image setting__icon"></i>
                    Thay đổi hình ảnh
                <% end %>
            </li>
            <li><a href="#">
                <i class="fa-solid fa-user-lock setting__icon"></i>
                Thiết lập tài khoản
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-shield setting__icon"></i>
                Bảo mật
            </a></li>
            <% end %>
        </ul>
    </div>
    <div class="col_ col_80 setting__content">
        
    </div>
</div>