<div class="container" style="padding: 20px 0">
  <h1>Sizes</h1>

  <div id="sizes">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Size</th>
          <th scope="col">Show</th>
        </tr>
      </thead>
      <tbody>
        <% @sizes.each do |size| %>
        <tr>
          <th scope="row"><%= size.id%></th>
          <td><%= size.name %></td>
          <td><%= link_to "Show this size", size, class: "btn btn-secondary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "New size", new_size_path, class: "btn btn-primary" %>

</div>