<h1>Editing cart session</h1>

<%= render "form", cart_session: @cart_session %>

<br>

<div>
  <%= link_to "Show this cart session", @cart_session %> |
  <%= link_to "Back to cart sessions", cart_sessions_path %>
</div>
