<div id="<%= dom_id cart_item %>">
<p>
    <strong>Name</strong>
    <%= cart_item.product.name %>
</p>
<p>
    <strong>Name</strong>
    <%= cart_item.product.price %>
</p>
<p>
    <strong>Quantity</strong>
    <%= cart_item.quantity %>
</p>
</div>
