.nfbar {
    padding: 0 50px;
}

.navbar-name {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--white);
    padding: 0 80px 0 0 !important;

    span {
        color: var(--primary-dark) !important;
    }

    &:hover {
        color: var(--primary-dark) !important;

        span {
            color: var(--white) !important;
        }
    }
}



.nf-menu {

}

.nav-item2 {
    padding-left: 20px;
    a {
        color: var(--white);
    }
}

.nav-link-sub {
    color: var(--white) !important;
    font-size: 1.1rem;
    // font-weight: bold;
}

.drop-menu-right {
    right: 0 !important;
    left: unset !important;
    top: 20% !important;
    width: 250px !important;

    li {
        padding: 0 10px;
    }
} 




.cart-item__price {
    font-size: 14px;
    color: var(--primary);
    text-align: right;
}

.dropdown-cart {
    width: 400px !important;

    li {
        cursor: pointer;
    }
}

.btn-cart {
    padding: 5px 15px;
    background-color: var(--primary);
    border-radius: 5px;
    font-size: 0.9rem;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-color: var(--primary-dark);
        color: var(--white) !important;
    }
}

// Responsive 
@media (max-width: 959px) {
    .nfbar {
        padding: 0;
    }
}

