.home__container {
    background-color: var(--beige-light);
}

.home__inner {
    padding: 15px;
    border-radius: 10px;
    background-color: var(--white);
}

.home__title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem 1.5rem;

    i {
        color: var(--red);
    }
}

.home__title2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--white);

    span {
        margin: auto;
        position: relative;
        z-index: 2;
    }

    span::after {
        content: '';
        width: 50px;
        height: 35px;
        background: linear-gradient(var(--red),#fff);
        position: absolute;
        top: -5px;
        left: 0px;
        z-index: -1;
        transform: rotate(0deg);
        border-top-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }
}


.helper__item {
    padding: 20px 10px;
    background: var(--white);
    margin: 0 10px;
    box-shadow: 0 2px 4px 0 RGB(0 0 0/12%), 0 -2px 2px 0 RGB(0 0 0/4%);
    border-radius: 5px;
}

// Arrivals
.arrivals {
    padding: 0 16px;
    margin: auto;
}
.arrivals__image {

    img {
        border-radius: 5px;
    }
}

.arrivals__content {
    padding: 10px 0;
}

.arrivals__name {
    font-weight: bold;
    font-size: 1.1rem;

    span {
        font-weight: normal;
        font-size: 0.9rem;
    }
}

.arrivals__icon {
    font-size: 1.5rem;
}



// Helper
.site__helper {
    padding: 60px 0;
}

.helper__icon {
    font-size: 2.2rem;
    color: var(--red);
    padding: 0 1rem;
}

.helper__text-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.text {
    p {
        text-align: justify;
    }
}

// Collection
.site__colection {
    // padding: 0 40px;
}

// Products
.site__products {
    padding: 40px 100px;
    width: 100%;
    background: var(--beige-light);
}

.products__title {
    // text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 10px;
    border-bottom: 5px solid var(--red);
    background-color: var(--white);
    
    p {
        margin: auto;
        position: relative;
        display: inline-block;
    }

    // p::after {
    //     content: '';
    //     width: 50px;
    //     height: 35px;
    //     background: linear-gradient(var(--primary),#fff);
    //     position: absolute;
    //     top: -5px;
    //     left: 0px;
    //     z-index: 0;
    //     transform: rotate(0deg);
    //     border-top-left-radius: 35px;
    //     border-bottom-right-radius: 35px;
    // }
}

.products__column {
    padding: 0 10px;
    background-color: var(--white);
    border: 1px solid transparent;
    margin: 0 7px;
    box-shadow: 0 2px 4px 0 RGB(0 0 0 / 12%), 0 -2px 2px 0 RGB(0 0 0 / 4%);
    border-radius: 5px;

    &:hover {
        border-color: var(--red);
    }
}

// .products__image {
//     position: relative;

//     .image {
//         display: block;
//     }
// }

.products__infor {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.products__name {
    padding: 10px 0 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products__price {
    color: var(--red);
    padding-bottom: 0.75rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color: #008CBA;
}

.products__image:hover .overlay {
    opacity: 1;
}








// Responsive
@media (min-width: 1024px) {
}

@media (max-width: 1023px) {
    .site__helper {
        padding: 40px 0;
    }
}

