<div id="<%= dom_id order_information %>">
  <p>
    <strong>Order:</strong>
    <%= order_information.order_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order_information.status %>
  </p>

</div>
