<h1>Editing order information</h1>

<%= render "form", order_information: @order_information %>

<br>

<div>
  <%= link_to "Show this order information", @order_information %> |
  <%= link_to "Back to order information", order_informations_path %>
</div>
