<div class="form-container">
  <div class="form-inner">
    <div class="form__title">
      Review
    </div>

    <%= render "form", review: @review %>

    <div>
      <%= link_to "Back to reviews", reviews_path %>
    </div>
  </div>
</div>