<h1>Editing user voucher</h1>

<%= render "form", user_voucher: @user_voucher %>

<br>

<div>
  <%= link_to "Show this user voucher", @user_voucher %> |
  <%= link_to "Back to user vouchers", user_vouchers_path %>
</div>
