.sign__container {
    background-color: var(--beige-light);
    padding: 2rem 0;
}

.sign_in_container {
    height: 86vh;
    padding: 0 3rem;
}

.sign_up_container {
    height: 57vh;
    padding: 0 3rem;

}

.sign__other {
    background-color: var(--primary-dark);
    color: var(--white);
    padding: 2rem 1rem;
    text-align: center;
    height: 100%;

    h1 {
        font-weight: bold;
    }
}

.sign__other_btn {
    background-color: transparent;
    color: var(--white);
    padding: 10px 35px;
    border: 2px solid var(--white);
    border-radius: 1000px;
    font-weight: bold;

    &:hover {
        background-color: var(--white);
        color: var(--primary-dark);
    }
}

.submit_btn {
    background-color: var(--primary-dark);
    color: var(--white);
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 1000px;
    border: none;
    text-align: center;
}

.sign__form {
    padding: 3rem;
    background-color: var(--white);
    height: 100%;
    color: var(--black);

    label {
        color: black;
    }

    span {
        color: var(--black);
    }

    h2 {
        text-align: center;
        font-weight: bold;
    }
}
