.profile-container {
    background-color: var(--black);
    padding: 30px;
}

.profile__information {

}

.profile__avame {
    background-color: #28313B;
    // background-image: linear-gradient(180deg, #28313B 0%, #0a0f17 74%);
}

.profile__avatar {
    padding: 20px 0;
    

    img {
        width: 175px;
        height: 175px;
        border-radius: 50%;
    }
}

.profile__name {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--white);
    padding-bottom: 20px;
}

.profile__inforOther {
    padding: 15px 0;
}

.profile__box-1,
.profile__box-2 {
    padding-left: 20px;
}

.profile__box-2 {
    padding-right: 20px;
}

.profile__infor,
.profile__micropost {
    padding: 15px;
    border-radius: 6px;
    background-color: var(--night);
    color: var(--white);
}

.profile__infor {
    padding-bottom: 30px;
}

.profile__title {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 5px;
}

.profile__inner-infor {
    padding: 0;     
    margin-bottom: 10px;

    li {
        padding: 5px 0;
        align-items: center;
    }
}

.profile__label {
    font-size: 1.2rem;
}

.profile__content {
    font-size: 1rem;
}

.profile__setting {
}

.profile__btn {
    width: 100%;
}
